{% extends 'base.html' %}

{% block content %}
<style>
  .gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 550px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 500px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
</style>
<div class="container py-5 shadow-none p-3 mb-5 bg-light rounded">
<div class="col py-2" style=" text-align: center;">
    <a class="btn btn-outline-primary" href="{% url 'gallery_new'  %}">Добавить фотографию в альбом</a>
</div>
<div class="gallery py-5" id="gallery">
  {% for photo in photos %}
  <div class="mb-3 pics animation all 2">
    <a href="{% url 'gallery_detail' photo.pk %}"><img class="img-fluid" src="{{ photo.image_photo.url }}" alt="Card image cap"></a>
  </div>
  {% endfor %}
</div>
</div>

{% endblock content %}