{% extends 'base.html' %}
{% block content %}
    <div class="container py-5 shadow-none p-3 mb-5 bg-light rounded">
            <div class="col-md-6 mx-auto ">
               <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="form-group row py-1">
                        <a class="btn btn-outline-primary my-2" href="{% url 'gallery_list' %}">Назад</a>
                   </div>
                   <div class="form-group row">
                        <h3 class="h3 mx-auto">Редактирование</h3>
                    </div>
                    <div class="form-group row">
                        <img src="{{ form.instance.image_photo.url }}" alt="{{ form.instance.de }}" class="img-thumbnail">
                    </div>
                   <div class="form-group row">
                       <input lass="form-control" id="{{ form.image_photo.id_for_label }}" name="{{ form.image_photo.name }}" type="file"  accept="image/*" >
                   </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="{{ form.description.id_for_label }}">Текст:</label>
                        <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}"
                                  rows="4">{{ form.description.value }}</textarea>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="{{ form.date.id_for_label }}">Дата:</label>
                        <input class="form-control" id="{{ form.date.id_for_label }}" name="{{ form.date.name }}"
                               type="date"
                               value="{{ form.date.value|date:'Y-m-d' }}">
                    </div>
                    <div class="form-group row">
                        <div class="py-3 mx-auto">
                            <button class="btn btn-success" type="submit">Обновить</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}