{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="col-md-6 offset-md-3">
    {% if request.user.is_authenticated %}
    <h1 class="text-muted text-center mt-3 mb-3">Информация о пользователе</h1>

    <ul class="list-group">
        <div class="row">
            <image class="img-thumbnail rounded-circle" style="width:200px; height:200px;" src="{{ user.profile.image.url }}"></image>
            <div class="col my-auto">
                <li class="list-group-item"><p>Имя пользователя: <b>{{ user.username }}</b></p></li>
                <li class="list-group-item"><p>Электронная почта: <b>{{ user.email }}</b></p></li>
            </div>
        </div>
    </ul>
    <div class="btn float-left mt-1">
        <a class="btn btn-primary" href="{% url 'edit_profile' %}">Редактировать</a>
    </div>
    {% else %}
    <h2 class="text-muted text-center mt-5">Авторизуйтесь, чтобы увидеть информацию</h2>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Войти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
    </li>
    {% endif %}
</div>
{% endblock content %}